name: Create Release

on:
  schedule:
    - cron: "0 */6 * * *"
  workflow_dispatch:

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          python -m pip install --upgrade pip
          if [ -f .release-manager/requirements.txt ]; then pip install -r .release-manager/requirements.txt; fi
      - name: Run script
        run: |
          python .release-manager/create_release.py
      - name: Create PR
        uses: peter-evans/create-pull-request@v4
        with:
          commit-message: New release
          title: New release
          branch: ${{ github.ref }}
          base: master
